* {
	font-size: 15pt;
	box-sizing: border-box;
	background-color: #d9d9d9;
}
h1 {
	font-size: 40pt;
	color: #553487;
	text-decoration: overline underline;
	text-align: center;
}

.caja {
	width: 100%;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: stretch;

	border: 1px #43b7c5 solid;
}
.contenedor {
	width: 45%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	text-align: justify;
	padding: 5%;
	border: 5%;
	margin: 2%;
	border: 1px solid #44b6c4;
}
.caja1 {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px #43b7c5 solid;
}
img {
	width: 100%;
}
